html {
  font-size: 16px;
}

body {
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Unknown props */
/* box-shadow: 0 2px 5px rgba(0,0,0,.26); - header */
/* border-radius: 3px; - card rounding */
/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); - card shadow */
/* border-top-left-radius: 3px;
  border-top-right-radius: 3px; - for card image */

/* Your styles go below */
* {
  box-sizing: border-box;
}
body {
  background-image: url("../images/pattern.png");
}
.header {
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  background-color: #4CAF50;
  color: white;
  line-height: 60px;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  width: 1170px;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.nav-left {
  float: left;
}
.nav-right {
  float: right;
}
.nav-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  position: relative;
}
.nav-link:last-child {
  margin-right: 0;
}
.nav-link-active:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0; 
  background-color: #FFEB3B;
}
.background-intro {
  background-image: url("../images/intro.jpg");
  background-repeat: no-repeat;
  height: 700px;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 50px;
}
.intro-label {
  color: white;
  font-size: 100px;
  font-weight: bold;
  line-height: 750px;
  text-align: center;
  vertical-align: middle;
}
.prime-title {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  margin: 50px auto;
  width: 100%;
  padding: 0 15px;
  width: 1170px;
}
.card-picture {
  background-image: url("../images/everest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  background-position: center;
  margin-bottom: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}
.column {
  margin-right: 20px;
  width: 270px;
  float: left;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 20px;
  background-color: white;
}
.column:nth-child(4n) {
  margin-right: 0;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}
.card-content {
  padding: 15px;
}
.subhead {
  color: grey;
  margin-bottom: 20px;
}
.card-description {
  margin-bottom: 20px;
  line-height: 1.45;
}
.button {
  text-transform: uppercase;
  color: #4CAF50;
  float: left;
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  background-color: white;
  padding: 0 15px;
  min-width: 40px;
  border-radius: 3px;
  margin-right: 5px;
}
.card-content:after {
  content: "";
  display: block;
  clear: both;
}
.button:last-child {
  margin-right: 0;
}
.header-text {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
}
.button-load {
  width: 130px;
  height: 50px;
  text-transform: uppercase;
  color: white;
  background-color: #4CAF50;
  margin: auto;
}
.wrapper-button-load {
  text-align: center;
}
.footer {
  background-color: #212121;
  margin-top: 50px;
  padding: 50px 0;
  color: white;
}
.footer-nav-item {
  display: table;
  margin-bottom: 16px;
}
.footer-nav-item:last-child {
  margin-bottom: 0;
}
.footer-column {
  float: left;
  width: 25%;
}
.footer-row:after {
  content: "";
  display: block;
  clear: both;
}
