.container-1 {
  padding: 10px;
  display: flex;
  align-items: flex-start;
}
.container-2 {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}
.box {
  padding: 10px;
  border: 1px solid silver;
  width: 20%;
}
.box-1 {
  padding: 10px;
  border: 1px solid silver;
  flex: 2;
  order: 2;

}
.box-2 {
  padding: 10px;
  border: 1px solid silver;
  flex: 2;
  order: 1;
}
.box-3 {
  padding: 10px;
  border: 1px solid silver;
  flex: 1;
  order: 3;
}
h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
