*, :before, :after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Exo-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Exo-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Exo-RegularItalic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Exo-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Exo-Thin.ttf") format("truetype");
}



body {
  height: 100%;
}
.wrapper {
  background-color: rgba(58, 9, 41, 1);
  background-image: linear-gradient(
    to right,
    rgba(240, 240, 240, 0.1), rgba(0, 0, 0, 0.1)
    ),
  repeating-linear-gradient(
  to right,
  rgba(97, 21, 68, 0), rgba(97, 21, 68, 0) 20%,
  rgba(97, 21, 68, 0.1) 20%, rgba(97, 21, 68, 0.1) 20.2%);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  height: 80px;
}
.content {
  flex: 1 1 auto;
  padding: 0 100px;
  position: relative;
  display: flex;
}
p {
  font-family: "Exo";
  color: white;
  font-size: 50px;
}
.thin {

  font-weight: 100;
}
.right-block {
  border-color: 1px, solid, white;
}
.footer {
  height: 80px;
}
