*, :before, :after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
.content {
  padding-top: 25px;
}
.loader {
  margin: 150px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(50% 50%, #6B6B6B, #4A4A4A);
  font-size: 50px;
  font-family: "Times New Roman";
  color: white;
  font-weight: bold;
}
.loader:after {
  content: "0";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: number 10s forwards linear;
}
@keyframes number {
  from {
    content: "0";
  }
  10% {
    content: "1";
  }
  20% {
    content: "2";
  }
  30% {
    content: "3";
  }
  40% {
    content: "4";
  }
  50% {
    content: "5";
  }
  60% {
    content: "6";
  }
  70% {
    content: "7";
  }
  80% {
    content: "8";
  }
  90% {
    content: "9";
  }
  100% {
    content: "10";
  }
}
.loader-half {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.loader-half-right {
  right: 0;
  left: auto;
}
.loader-indicator {
  width: 200%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid blue;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.loader-indicator-left {
  border-right-color: transparent;
  transform: rotate(-225deg);
  animation: rotate-left-side 5s 5s linear forwards;
}
.loader-indicator-right {
  border-left-color: transparent;
  right: 0;
  left: auto;
  transform: rotate(-135deg);
  animation: rotate-right-side 5s linear forwards;
}

@keyframes rotate-right-side {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes rotate-left-side {
  from {
    transform: rotate(-225deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
