*, :before, :after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

/* Unknown props */
/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); - filter */
/* transform: rotate(45deg); - checkbox */
/* border-radius: 3px; - card rounding */

/* Your styles go below */

.header, .footer {
  color: white;
  background-color: #607D8B;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}
.content {
  padding: 25px 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.card-picture {
  background-image: url("../images/everest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  background-position: center;
  margin-bottom: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}
.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 20px;
  background-color: white;
  border-radius: 3px;
}
.row {
  margin: 0 -15px;
}
.column {
  width: 100%;
  padding: 0 15px;
  float: left;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}
.sidebar {
  color: black;
  margin-bottom: 30px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.checkbox {
  margin-bottom: 15px;
}
.sidebar-head {
  margin-bottom: 30px;
  font-size: 18px;
}
.checkbox-input {
  display: none;
}
.checkbox-name {
  position: relative;
  display: inline-block;
  line-height: 20px;
  padding-left: 30px;
  cursor: pointer;
}
.checkbox-name:before {
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: white;
}
.checkbox-input:checked + .checkbox-name:before {
  border-color: blue;
  background-color: blue;
}
.checkbox-input:checked + .checkbox-name:after {
  content: "";
  width: 6px;
  height: 12px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;

  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 7px;
}
.card-content {
  padding: 15px;
}
@media (min-width: 544px) {
  .container {
    width: 520px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 744px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1000px;
  }
}
@media (min-width: 544px) {
  .col-sm-1 {
    width: 8.3333%;
  }
  .col-sm-2 {
    width: 16.6666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333%;
  }
  .col-sm-5 {
    width: 41.6666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333%;
  }
  .col-sm-8 {
    width: 66.6666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333%;
  }
  .col-sm-11 {
    width: 91.6666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333%;
  }
  .col-md-2 {
    width: 16.6666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333%;
  }
  .col-md-5 {
    width: 41.6666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333%;
  }
  .col-md-8 {
    width: 66.6666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333%;
  }
  .col-md-11 {
    width: 91.6666%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .col-lg-1 {
    width: 8.3333%;
  }
  .col-lg-2 {
    width: 16.6666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333%;
  }
  .col-lg-5 {
    width: 41.6666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333%;
  }
  .col-lg-8 {
    width: 66.6666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333%;
  }
  .col-lg-11 {
    width: 91.6666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333%;
  }
  .col-xl-2 {
    width: 16.6666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333%;
  }
  .col-xl-5 {
    width: 41.6666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333%;
  }
  .col-xl-8 {
    width: 66.6666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333%;
  }
  .col-xl-11 {
    width: 91.6666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
.card-subhead {
  font-size: 16px;
  color: grey;
  margin-bottom: 20px;
}
.card-description {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.45;
}
.card-actions {
  font-size: 0;
}
.button {
  font-size: 16px;
  text-transform: uppercase;
  color: #4CAF50;
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  background-color: white;
  padding: 0 10px;
  min-width: 40px;
  border-radius: 3px;
  text-decoration: none;
}
.card-action {
  margin-right: 5px;
} 
.card-action:last-child {
  margin-right: 0;
}
.card-head {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
}
