*, :before, :after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

/* Unknown props */
/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); - filter */
/* transform: rotate(45deg); - checkbox */
/* border-radius: 3px; - card rounding */

/* Your styles go below */

.header {
  color: white;
  background-color: #607D8B;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}
.footer {
  color: white;
  background-color: #607D8B;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  height: 1200px;
}
.card-picture {
  background-image: url("../images/everest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  background-position: center;
  margin-bottom: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}
.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 20px;
  background-color: white;
  border-radius: 3px;
}
.row {
  margin: 0 -10px;
}
.column {
  width: 100%;
  padding: 0 15px;
  float: left;
  display: inline-block;
  vertical-align: top;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}
.sidebar {
  color: black;
  background-color: #DDDDDD;
  height: 180px;
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
}
.sidebar-item {
  padding: 0 15px;
  margin-bottom: 20px;
  font-size: 18px;
}
.card-content {
  padding: 15px;
  font-size: 0;
}
.sidebar-label {
  font-weight: bold;
  padding: 0;
  font-size: 20px;
  margin-bottom: 20px;
}
.sidebar-box {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  margin-bottom: 20px;
  line-height: 16px;
}
/*.col-xs-1 {
  width: 50%;
}
.col-xs-2 {
  width: 100%;
}*/
@media (min-width: 544px) {
  .col-sm-1 {
    width: 50%;
  }
  .col-sm-2 {
    width: 100%;
  }
}
/*@media (min-width: 765px) {
  .col-md-1 {
    width: 25%;
  }
  .col-md-2 {
    width: 50%;
  }
  .col-md-3 {
    width: 75%;
  }
  .col-md-4 {
    width: 100%;
  }
}*/
.card-subhead {
  font-size: 16px;
  color: grey;
  margin-bottom: 20px;
}
.card-description {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.45;
}
.button {
  font-size: 16px;
  text-transform: uppercase;
  color: #4CAF50;
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  background-color: white;
  padding: 0 15px;
  min-width: 40px;
  border-radius: 3px;
}
.card-action {
  margin-right: 5px;
} 
.card-action:last-child {
  margin-right: 0;
}
.card-head {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
}

.content {
  margin-bottom: 30px;
}

